h1 {
   margin-bottom: 35px;
   margin-top: 25px;
  }

li {
    color: blue;
    text-align: center;
    display: inline;
    float: left;
  }

li a {
 /* display: inline-block; */
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: black;
}

code {
    font-family: "Helvetica";
    text-decoration: underline;
  }

.caption {
    width: 50%;
    font-style: italic;
  }

#most_important {
   background-color: lightgray;
   width: 200px;
   height: 100px;
   }

ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}



    
