h1 {
   margin-bottom: 35px;
   margin-top: 25px;
  }

code {
    font-family: "Helvetica";
    text-decoration: underline;
  }

.caption {
    width: 50%;
    font-style: italic;
  }

#most_important {
   background-color: lightgray;
   width: 200px;
   height: 100px;
   }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: pink;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: table-row;
  height: 80px;
  background-color: #333;
  color: white;
  text-align: center;
}
