h1 {
   margin-bottom: 35px;
   margin-top: 25px;
  }

li {
    color: blue;
    text-align: center;
    display: inline;
  }

code {
    font-family: "Helvetica";
    text-decoration: underline;
  }

.caption {
    width: 50%;
    font-style: italic;
  }

#most_important {
   background-color: lightgray;
   width: 200px;
   height: 100px;
   }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #dddddd;
}

.active {
  background-color: #4CAF50;
  color: white;
}

a {
  display: block;
  padding: 8px;
}


    
